!.gitkeep
/DevOps/.terraform.lock.hcl
/DevOps/.terraform/
/DevOps/terraform.tfstate
/DevOps/terraform.tfstate.backup
/Module/__pycache__/**
/.vscode/**
/teste/**
DevOps/.terraform/providers/registry.terraform.io/hashicorp/aws/2.70.4/windows_386/terraform-provider-aws_v2.70.4_x4.exe
